# Data Scientist Salary Analysis

### Import Dependencies

In [1]:
from selenium.common.exceptions import NoSuchElementException, ElementClickInterceptedException
from selenium import webdriver
import time
import pandas as pd

In [22]:
def get_jobs(keyword, num_jobs, verbose, path, slp_time):
    '''Gathers jobs as a dataframe, scraped from Glassdoor'''

    # Initializing the webdriver
    options = webdriver.ChromeOptions()

    # Uncomment the line below if you'd like to scrape without a new Chrome window every time.
    # options.add_argument('headless')

    # Change the path to where chromedriver is in your home folder.
    driver = webdriver.Chrome(executable_path=path, options=options)
    driver.set_window_size(1120, 1000)
    
    url = 'https://www.glassdoor.co.uk/Job/uk-' + keyword + '-jobs-SRCH_IL.0,2_IN2_KO3,17.htm'
#     url = 'https://www.glassdoor.com/Job/jobs.htm?sc.keyword="' + keyword + '"&locT=C&locId=1147401&locKeyword=San%20Francisco,%20CA&jobType=all&fromAge=-1&minSalary=0&includeNoSalaryJobs=true&radius=100&cityId=-1&minRating=0.0&industryId=-1&sgocId=-1&seniorityType=all&companyId=-1&employerSizes=0&applicationType=0&remoteWorkType=0'
    driver.get(url)
    jobs = []

    while len(jobs) < num_jobs:  # If true, should be still looking for new jobs.

        # Let the page load. Change this number based on your internet speed.
        # Or, wait until the webpage is loaded, instead of hardcoding it.
        time.sleep(slp_time)

        # Test for the "Sign Up" prompt and get rid of it.
        try:
            driver.find_element_by_xpath('.//li[@data-selected="true"]').click()
        except ElementClickInterceptedException:
            pass

        time.sleep(0.1)

        try:
            driver.find_element_by_class_name("modal_closeIcon").click() # clicking to the X.
        except NoSuchElementException:
            pass

        # Going through each job in this page
        job_buttons = driver.find_elements_by_class_name(
            "react-job-listing")  # jl for Job Listing. These are the buttons we're going to click.

        for job_button in job_buttons:

            print("Progress: {}".format("" + str(len(jobs)) + "/" + str(num_jobs)))
            if len(jobs) >= num_jobs:
                break

            job_button.click()  # You might
            time.sleep(1)
            collected_successfully = False

            while not collected_successfully:
                try:
                    location = job_button.get_attribute("data-job-loc")
                    job_title = job_button.get_attribute("data-normalize-job-title")
                    job_description = driver.find_element_by_xpath('//*[@id="JobDescriptionContainer"]').text
                    company_name = driver.find_element_by_css_selector(".css-87uc0g.e1tk4kwz1").text
                    collected_successfully = True
                    
                except Exception as e:
                    print(e)
                    time.sleep(5)
        
            try:
                salary_estimate = driver.find_element_by_xpath('//*[@id="JDCol"]/div/article/div/div[1]/div/div/div[1]/div[3]/div[1]/div[4]/span').text
    
            except NoSuchElementException:
                salary_estimate = -1  # You need to set a "not found value. It's important."

            try:
#                 rating = driver.find_element_by_xpath('.//span[@class="rating"]').text
                
                rating = driver.find_element_by_css_selector("span[data-test='detailRating']").text
            except NoSuchElementException:
                rating = -1  # You need to set a "not found value. It's important."

            # Printing for debugging
            if verbose:
                print("Job Title: {}".format(job_title))
                print("Salary Estimate: {}".format(salary_estimate))
                print("Job Description: {}".format(job_description[:500]))
                print("Rating: {}".format(rating))
                print("Company Name: {}".format(company_name))
                print("Location: {}".format(location))

            try:

                try:
                    size = driver.find_element_by_xpath('//*[@id="EmpBasicInfo"]/div[1]/div/div[1]/span[2]').text
                    
                except NoSuchElementException:
                    size = -1

                try:
                    founded = driver.find_element_by_xpath('//*[@id="EmpBasicInfo"]/div[1]/div/div[2]/span[2]').text
                except NoSuchElementException:
                    founded = -1

                try:
                    type_of_ownership = driver.find_element_by_xpath('//*[@id="EmpBasicInfo"]/div[1]/div/div[3]/span[2]').text
                except NoSuchElementException:
                    type_of_ownership = -1

                try:        
                    industry = driver.find_element_by_xpath('//*[@id="EmpBasicInfo"]/div[1]/div/div[4]/span[2]').text
                except NoSuchElementException:
                    industry = -1

                try:
                    sector = driver.find_element_by_xpath('//*[@id="EmpBasicInfo"]/div[1]/div/div[5]/span[2]').text
                except NoSuchElementException:
                    sector = -1

                try:
                    revenue = driver.find_element_by_xpath('//*[@id="EmpBasicInfo"]/div[1]/div/div[6]/span[2]').text
                except NoSuchElementException:
                    revenue = -1

            except NoSuchElementException:  # Rarely, some job postings do not have the "Company" tab.
                size = -1
                founded = -1
                type_of_ownership = -1
                industry = -1
                sector = -1
                revenue = -1

            if verbose:
                print("Size: {}".format(size))
                print("Founded: {}".format(founded))
                print("Type of Ownership: {}".format(type_of_ownership))
                print("Industry: {}".format(industry))
                print("Sector: {}".format(sector))
                print("Revenue: {}".format(revenue))
                print("@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@")

            jobs.append({"Job Title": job_title,
                         "Salary Estimate": salary_estimate,
                         "Job Description": job_description,
                         "Rating": rating,
                         "Company Name": company_name,
                         "Location": location,
                         "Size": size,
                         "Founded": founded,
                         "Type of ownership": type_of_ownership,
                         "Industry": industry,
                         "Sector": sector,
                         "Revenue": revenue
                         })
            # add job to jobs

        # Clicking on the "next page" button
        try:
            driver.find_element_by_xpath('.//li[@class="next"]//a').click()
        except NoSuchElementException:
            print("Scraping terminated before reaching target number of jobs. Needed {}, got {}.".format(num_jobs,
                                                                                                         len(jobs)))
            break

    return pd.DataFrame(jobs)  # This line converts the dictionary object into a pandas DataFrame.

In [23]:
path = "../chromedriver/chromedriver.exe"

df = get_jobs('data-scientist', 3, False, path, 7)

Progress: 0/3
Progress: 1/3
Progress: 2/3
Progress: 3/3
Scraping terminated before reaching target number of jobs. Needed 3, got 3.

In [24]:
df.head()

,Company Name,Founded,Industry,Job Description,Job Title,Location,Rating,Revenue,Salary Estimate,Sector,Size,Type of ownership
0,Sage\n4.3,1981,Computer Hardware & Software,People make Sage great. From our colleagues de...,Senior Data Scientist,"London, England",4.3,$1 to $2 billion (USD),£51K - £61K (Glassdoor Est.),Information Technology,10000+ Employees,Company - Public
1,University of Sheffield\n4.4,1905,Colleges & Universities,Job Reference Number: UOS027909\nJob Title: As...,Assistant Data Scientist,"Sheffield, England",4.4,$100 to $500 million (USD),-1,Education,5001 to 10000 Employees,College / University
2,Yara\n4.1,1905,Chemical Manufacturing,Yara delivers solutions for sustainable agricu...,Research Scientist,"Leeds, England",4.1,$10+ billion (USD),£25K - £35K (Glassdoor Est.),Manufacturing,10000+ Employees,Company - Public

In [ ]:
df.to_csv("glassdoor_jobs.csv", index=False)

### SALARY PARSING

In [ ]:
# Make new columns for hourly or employed provided salaries
df['Hourly'] = df['Salary Estimate'].apply(lambda x: 1 if 'per hour' in x.lower() else 0)
df['Employer Provided'] = df['Salary Estimate'].apply(lambda x: 1 if 'employer provided salary' in x.lower() else 0)

# Remove rows without salary records
df= df[df['Salary Estimate'] != "-1"]

# Remove any text and pound sign symbols from the cells
salary = df["Salary Estimate"].apply(lambda x: x.split('(')[0])
minus_kd = salary.apply(lambda x: x.replace('K', "").replace("£",""))

min_hr = minus_kd.apply(lambda x: x.lower().replace('per hour','').replace('employer provided salary',''))

df['Min Salary'] = min_hr.apply(lambda x: int(x.split('-')[0]))
df['Max Salary'] = min_hr.apply(lambda x: int(x.split('-')[1]))
df['Average Salary'] = (df['Max Salary'] + df['Min Salary'])/2
df

### Parse company name

In [56]:
# df = pd.read_csv("glassdoor_jobs.csv")

df['Company Name'] = df['Company Name'].apply(lambda x: x.split("\\")[0])
df
                                                            
# Company name with text only 

# Country field

# Age of company

# Parsing of job description (python, etc)

,Company Name,Competitors,Founded,Headquarters,Industry,Job Description,Job Title,Location,Rating,Revenue,Salary Estimate,Sector,Size,Type of ownership,Hourly,Employer Provided,Min Salary,Max Salary,Average Salary
0,University of Sheffield\n4.4,-1,-1,-1,-1,Job Reference Number: UOS027909\nJob Title: As...,Assistant Data Scientist,"Sheffield, England",4.4,-1,£34K - £40K (Glassdoor Est.),-1,-1,-1,0,0,34,40,37.0
1,FutureLearn Ltd\n3.6,-1,-1,-1,-1,We are currently looking to recruit an experie...,Data Scientist,"London, England",3.6,-1,£34K - £40K (Glassdoor Est.),-1,-1,-1,0,0,34,40,37.0
2,Aurora Energy Research Limited\n3.4,-1,-1,-1,-1,Aurora is looking for a\nData Scientist\nto jo...,Data Scientist,"Oxford, England",3.4,-1,£34K - £40K (Glassdoor Est.),-1,-1,-1,0,0,34,40,37.0